extends layout

block content
    include includes/navbar.pug
    // use the statistics object ex "p= user.statistics.wins" or "bar#{user.statistics.activeBets}foo"
    ul
        li= 'Wins: ' + user.statistics.wins
        li= 'Losses: ' + user.statistics.losses
        li Total bets: #{user.statistics.totalBets}
        li Active bets: #{user.statistics.activeBets}
